
/*
  general styling
*/

body {
  background: rgba(255, 255, 255, 1);
  font-family: 'Rubik', sans-serif;
  color: rgba(55, 58, 60, 1);
  padding: 0;
  margin: 0;
}


h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
}


/*

  specific design overall

*/


.outerbox {
  padding: 0;
}


.dib-bar {
  background: linear-gradient(to right, #21466b 0%,#263d82 30%,#263d82 30%,#eb5c4a 100%);
  height: 0.375rem;
  display: block;
}

.dib-nav {
  height: 0;
  z-index: 2;
  overflow: visible;
  margin-top: -1px;

}

.dib-nav img {
  margin-top: 0.5rem;
  width: 100%;
}

.footer {
  background: #21466b;
  color: white;
  padding: 2rem 2rem 1rem 2rem;
}

footer {
  font-size: 0.85rem;
  color: #4e79a4;
}

footer a,
footer a:visited {
  color: #5e94cb;
}

footer a:hover {
  color: #eb5c4a;
}

.icon svg {
  height: 2rem;
  margin: 0;
  width: 2rem;
  margin: 0 0.5rem;
}

a .icon svg path,
a:visited .icon svg path {
  fill: #eb5c4a;
}

a:hover .icon svg path {
  fill: #21466b;
}


/*

  petition item page

*/
.header-image {
    height: 25rem;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center right;
}

.header-title {
  /*background: linear-gradient(to right, #21466b 0%,#263d82 30%,#263d82 30%,#eb5c4a 100%);*/
  background: #21466b;
  color: white;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.inner {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.sidebar {
  background: rgb(236, 236, 236); 
  position: fixed;
  right: 0;
  top: 0;
  padding: 0;
  bottom: 0;
  z-index: 3;
  overflow: scroll;
  transition: 1s top;
}


@media (max-width: 767px) {

  .sidebar {
    top: 100vh;
  }

  footer {
    margin-bottom: 10rem;
  }
}


.show-sidebar .sidebar {
  top: 0;
}

.toggle-button {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 100;
}

.show-sidebar .toggle-button {
  display: none;
}

.sidebar  > * {
  padding: 1rem;
}

.sidebar .title {
  background: #eb5c4a;
  color: white;
  margin-bottom: 0;
}

.recipient {
  background: #dbdbdb;
}

.counter {
  background: rgb(236, 236, 236); 
  padding: 1rem;
}

.progress {
  border: 1px solid #eb5c4a;
}

.progress-bar {
  background: #eb5c4a;
  color: white;
}

.demand {
    margin: 0.75rem 0;
}

/* SIGN FORM */

.sign-form {
  font-size: 1.25rem;
}

.sign-form .row {
  margin-bottom: 0.375rem;
}


.toggle-button button,
.sign-form button {
  border-radius: 0;
  font-size: 1.65rem;
  line-height: 3.25rem;
  background: #eb5c4a;
  color: white;
}

.currently {
  text-transform: uppercase;
}

.disclaimer {
  padding-top: 1rem;
  font-size: 0.75rem;
  color: #888;
}