{% include '_layouts/_header.liquid' %}

{% if is_post %}
  {% include '_layouts/post.liquid' %}
{% else %}
  <div class="container">
    {{ content }}
  </div>
{% endif %}

{% include '_layouts/_footer.liquid' %}
